.btn-green{

    background-color:#08e17e !important;
    color:#1d1c1e;
}
.bg-green{
    background-color:#08e17e !important;
}

.bg-gray{
    background-color: #f0bc74 !important;
}
.bg-gray-10
{
    background-color: #f18883 !important;
}
.bg-gray-20
{
    background-color: #fa9f9a !important;
}

.bg-light-gray10{
    background: #ffeceb !important;
}
.text-pink{
    color: #ee6f68 !important;

}


.announcements_section{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to right bottom, #fff 49%, #E11D48 50%),
    linear-gradient(0deg, #ffffff 0px, #000 0);
}

.news_section{
    width:100%;
    height:auto;
    position:absolute;
    left:0px;
    background: linear-gradient(to left bottom, #333 50%);
}

.skew-c{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to left bottom, #E11D48 49%, #fff 50%);
}

.colour-block {
    background:#fff;
    width:100%;
}
.white-block {
    background:#E11D48;
    width:100%;
    padding-top:6rem !important;
    color:#555 !important;
}


li.active a{
    color: #1d1c1e !important;
    font-weight: 400;
    background-color: #f0bc74;
    /* box-shadow: inset 0 0 1px; */
    /* border-radius: 10px; */
}
#menu li a:hover{
    color: #1 !important;
    background-color: #f0bc74;
    /* box-shadow: inset 0 0 1px; */
    /* border-radius: 10px; */
    transition: 0.3s all;
}