.btn-green{

    background-color:#08e17e !important;
    color:#1d1c1e;
}
.bg-green{
    background-color:#08e17e !important;
}

.bg-gray{
    background-color: #ada2ff !important;
}
.bg-gray-10
{
    background-color: #b4aaf9 !important;
}
.bg-gray-20
{
    background-color: #b7adff !important;
}

*{
    color:#555555 !important;
}

.announcements_section{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to right bottom, #ada2ff 49%, #c5bef9 50%),
    linear-gradient(0deg, #ffffff 0px, #000 0);
}

.skew-c{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to left bottom, #c5bef9 49%, #ada2ff 50%);
}

.colour-block {
    background:#ada2ff;
    width:100%;
}
.white-block {
    background:#c5bef9;
    width:100%;
    padding-top:6rem !important;
    color:#823A9C;
}
